*{
    box-sizing: border-box;
    margin: 0;
}

#logo {
    height: 100px;
}

#intestazione{
    background-image: url(img/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
}

.write_by {
    color: grey;
    font-weight: bold;
}

.link_boolean {
    color: #36b1e7;
}

.date {
    font-weight: bold;
    font-size: 10px;
    color: grey;

}

.paragrafo {
    margin: 20px 0px 20px 0px;
}

.importante {
    background-color: yellow;
}

table {
    width: 1200px;
    margin: 20px 0px 20px 0px;
}

.cella1{
    width: 20%;
    
}

.cella2 {
    width: 20%;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.riga.blue {
    background-color: #b1e5f2;
}