*{
    box-sizing: border-box;
    margin: 0;
}

#container {
    width: 1000px;
    margin: auto;
}

#logo {
    height: 100px;
}

header {
    margin-bottom: 20px;
}

#intestazione{
    background-image: url(img/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
}

.secondario {
    color: grey;
    font-weight: bold;
}

.link_boolean {
    color: #36b1e7;
}

.date {
    font-weight: bold;
    font-size: 10px;
    color: grey;

}

#foto {  
    width: 100%;  
}



.foto_tim {
    width: 49%;
    height: 400px;   
}


.paragrafo {
    margin: 20px 0px 20px 0px;
}

.importante {
    background-color: yellow;
}

table {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.cella1{
    width: 20%;
    
}

.cella2 {
    width: 20%;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.riga.blue {
    background-color: #b1e5f2;
}

footer {
    margin-top: 30px;
    color: white;
}

.foto1 {
    background-image: url(img/monitor.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 15px;;
}

.foto2 {
    background-image: url(img/graph.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 15px;;
}